<div class="mycontainer">

    <div class="card text-white bg-primary m-5" style="max-width: 18rem;">
        <div class="card-header text-center">
            <h2>Belo Horizonte</h2>
            <p>weather img</p>
        </div>
        <div class="card-body">
            <p class="card-text">Summary: Rain</p>
            <p class="card-text">Temperature: 23°</p>
            <p class="card-text">Feels like: 21°</p>
            <p class="card-text">Pressure: 1024 hPa</p>
            <p class="card-text">Humidity: 53%</p>
        </div>
    </div>

</div>