.mycontainer {
   min-width: 300px;
    padding-top: 3%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    /**background-color: #111215; **/
   background-image: url("../../assets/img/background-mountain.png");
   background-position: center;
   background-size: cover;   
   background-repeat: no-repeat;
}

.card {
    min-width: 300px;
    padding: 1em;
    -webkit-box-shadow: 3px 3px 35px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 35px -8px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 35px -8px rgba(0,0,0,0.75);
    background-color: rgba(0,0,0, 0.4);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
   
}

.card h2 {
   margin-bottom: -5px;
   font-size: 34px;
   font-weight: 400;
   background: -webkit-linear-gradient(right, #ffffff, #e3e3e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-weather {
}

.card h1 {
   margin-top: -30px;
   font-size: 64px;
   font-weight: 200;
}

.search input {
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.2);
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0, 0.5);
    
}
::placeholder {
    color: white;
 }

 .search input:focus {
   background-color: rgba(0,0,0, 0.3);
   border-radius: 5px;
   border-width: 1px;
   border-style: solid;
   border-color: rgba(0,0,0, 0.5);
   box-shadow: 0 0 15px 0px #C099DD;
}

 footer {
    text-align: center;
    color: white;
    margin-top: 6%;
    margin-bottom: 100px;
 }

 footer p {
   font-size: 12px;
   font-weight: 500;
   color: #dadada;
   font-weight: 600;
 }

 footer span:hover {
   color: #3f2850;
   cursor: pointer;
 }

 footer img {
   filter: invert(100%);
   max-height: 30px;
   max-width: 30px;
   animation: gelatine 2s infinite;
 }

 footer img:hover {
    cursor: pointer;
    transition: all 0.3 ease-in-out;
    animation: gelatine 0.5s infinite;
 }

 @keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }